APP_NAME=Asistencia Vehicular API
APP_ENV=development
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000
APP_CORS_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,http://localhost:5000,http://127.0.0.1:5000

DATABASE_ENGINE=postgresql
DATABASE_HOST=localhost
DATABASE_NAME=asistencia_vehicular
DATABASE_USER=postgres
DATABASE_PASSWORD=Mipeluche123
DATABASE_PORT=5432

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_S3_BUCKET=asistencia-vehicular-evidencias
AWS_SQS_QUEUE_URL=http://localhost:4566/000000000000/asistencia-vehicular-events
AWS_SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:asistencia-vehicular-notifications
AWS_ENDPOINT_URL=http://localhost:4566
